// Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops and Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets and Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
  h1.lg-heading {
    font-size: 4rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  .boxes {
    div {
      font-size: 1rem;
    }
  }
}

@include mediaSmLs {
  main#home h1 {
    margin-top: 5vh;
  }
  main#home h1.lg-heading {
    font-size: 2rem;
  }

  h1.lg-heading {
    font-size: 3rem;
  }
  main#home h2.sm-heading {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  ul.menu-nav,
  .menu-nav {
    height: 50vh;
  }

  .menu-branding {
    height: 50vh;
  }

  .projects {
    img {
      width: 75%;
    }
  }

  .btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    margin-left: 12.5%;
    margin-right: 12.5%;
    &:hover {
      background: $secondary-color;
      color: set-text-colour($secondary-color);
    }
  }
  .boxes {
    div {
      font-size: 1rem;
    }
  }
}
